.productCard {
  background: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  width: 48vw;
  height: 19rem;
  margin-right: 5%;
  transition: 0.3s;
}

.productCard:hover {
  border: 2px solid #333333;
  border-radius: 5px;
  transition: 0.3s;
}

.productImageContainer {
  background: #f5f5f5;
  width: 100%;
  height: 10rem;
  transition: 0.3s;
}

.productImageContainer img {
}

.productName {
  font-weight: 700;
  max-width: 14ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.productCategory {
  color: #828282;
}

.productPrice {
  font-weight: 600;

  color: #27ae60;
}

.productBuy {
  background: #27ae60;
  border: 2px solid #27ae60;
  border-radius: 8px;
  color: white;
  width: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.productBuy:hover {
  background: #93d7af;
  border: 2px solid #93d7af;
  border-radius: 8px;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .productCard {
    width: 48vw;
    height: 17rem;
  }

  .productImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48vw;
    height: 8rem;
  }

  .productImageContainer img {
    width: 34vw;
    height: 7.75rem;
  }

  .productGeneralInfo {
    padding-left: 5%;
  }

  .productName {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 3.3vw;
  }

  .productCategory {
    font-size: 2.9vw;
    margin-bottom: 0.65rem;
  }

  .productPrice {
    font-size: 3.2vw;
    margin-bottom: 0.4rem;
  }

  .productBuy {
    display: flex;
    justify-content: center;
    font-size: 3.4vw;
    margin-bottom: 3.2%;
    padding: 0.4rem 0 0.4rem 0.4rem;
  }
  /* 
  .adjustment img {
    width: 37vw;
  }
  
  .minorAdjust {
    bottom: 1rem;
    position: relative;
  } */
}

@media (min-width: 600px) {
  .productCard {
    width: 25%;
    margin-bottom: 1rem;
    height: 13rem;
  }

  .productImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
  }

  .productImageContainer img {
    width: 75%;
    height: 75%;
  }

  .productGeneralInfo {
    padding-left: 5%;
  }

  .productName {
    margin-top: 7%;
    margin-bottom: 4.5%;
    font-size: 1.4vw;
  }

  .productCategory {
    font-size: 1vw;
    margin-bottom: 5%;
  }

  .productPrice {
    font-size: 1.2vw;
    margin-bottom: 2.8%;
  }

  .productBuy {
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
}

@media (min-width: 1000px) {
  .productCard {
    height: 16rem;
  }

  .productImageContainer {
    height: 9rem;
  }

  .productName {
    font-size: 1.2vw;
  }

  .productCategory {
    font-size: 0.9vw;
  }

  .productPrice {
    font-size: 1.05vw;
  }

  .productBuy {
    font-size: 1.05vw;
    padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  }
}

@media (min-width: 1180px) {
  .productCard {
    height: 17rem;
  }

  .productImageContainer {
    height: 9rem;
  }

  .productName {
    font-size: 1.2vw;
  }

  .productCategory {
    font-size: 0.9vw;
  }

  .productPrice {
    font-size: 1.05vw;
  }

  .productBuy {
    font-size: 1.05vw;
    padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  }
}

@media (min-width: 1439px) {
  .productCard {
    height: 18rem;
  }

  .productImageContainer {
    height: 8.4rem;
  }

  .productImageContainer img {
    width: 57%;
    height: 92%;
  }
}

@media (min-width: 1800px) {
  .productCard {
    height: 23rem;
  }

  .productImageContainer {
    height: 10rem;
  }

  .productImageContainer img {
    width: 60%;
    height: 97%;
  }

  .productName {
    font-size: 1.2vw;
  }

  .productCategory {
    font-size: 0.9vw;
  }

  .productPrice {
    font-size: 1.05vw;
  }

  .productBuy {
    font-size: 1.1vw;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
}

@media (min-width: 2100px) {
  .productCard {
    height: 25.5rem;
  }

  .productImageContainer {
    height: 11.5rem;
  }

  .productImageContainer img {
    width: 61%;
    height: 97.25%;
  }

  .productName {
    font-size: 1.3vw;
  }

  .productCategory {
    font-size: 1vw;
  }

  .productPrice {
    font-size: 1.15vw;
  }

  .productBuy {
    font-size: 1.15vw;
    padding: 0.7rem 1rem 0.7rem 1rem;
  }
}

@media (min-width: 2200px) {
  .productCard {
    height: 28rem;
  }

  .productImageContainer {
    height: 11.75rem;
  }

  .productImageContainer img {
    width: 62.5%;
    height: 98.5%;
  }

  .productName {
    font-size: 1.35vw;
  }

  .productCategory {
    font-size: 1.05vw;
  }

  .productPrice {
    font-size: 1.175vw;
  }

  .productBuy {
    font-size: 1.175vw;
    padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  }
}

@media (min-width: 2434px) {
  .productCard {
    height: 31rem;
  }

  .productImageContainer {
    height: 13rem;
  }

  .productImageContainer img {
    width: 62.75%;
    height: 98.75%;
  }

  .productName {
    font-size: 1.375vw;
  }

  .productCategory {
    font-size: 1.055vw;
  }

  .productPrice {
    font-size: 1.18vw;
  }

  .productBuy {
    font-size: 1.18vw;
    padding: 1rem 1.75rem 1rem 1.75rem;
  }
}
